<div class="row">
	<div class="my-5 mx-auto col-sm-6">
		<h2 class="text-center">New Software Suite</h2>
		<hr>
		<%= simple_form_for @suite, url: v_softwares_path do |f| %>
			<%= f.input :name, label: false, placeholder: "Name", required: true %>
			<%= f.input :category, collection: @categories, label: false, prompt: 'Select category', required: true %>
			<%= f.input :version, input_html: { value: Faker::App.semantic_version, placeholder: "Version" }, label: false, required: true %>
			<%= f.input :logo_url, input_html: { value: Faker::Company.logo, placeholder: "Logo URL" }, label: false, required: true %>

			<%= f.submit "Add", class: "btn btn-primary btn-block mt-5" %>
			<%= link_to "Back", vendor_dashboard_path, class: "d-block text-center py-2 mt-1" %>
		<% end %>
	</div>
</div>
