<div class="row my-5">
	<div class="col-sm-3">
		<ul class="list-group">
			<% @sorted_by_category.keys.each do |category| %>
		  	<li class="list-group-item"><%= category %></li>
		  <% end %>
		</ul>
	</div>
	<div class="col-sm-9">
		<% @sorted_by_category.each do |category, softwares| %>
			<section class="mb-5">
				<h3 class="mb-5"><%= category %></h3>
				<div class="card-columns">
					<% softwares.each do |software| %>
						<% d = @hotelier_softwares.include?(software) ? true : false %>
						<%= link_to h_software_path(software), class: "card", disabled: d do %>
					    <%= image_tag software.logo_url, class: "card-img-top p-3" %>
					    <div class="card-body">
					      <h5 class="card-title"><%= software.name %></h5>
					      <p class="card-text"><%= Faker::Company.catch_phrase %></p>
					    </div>
					  <% end %>
					<% end %>
				</div>
			</section>
			<hr>
		<% end %>
	</div>
</div>

