<div class="row my-5">
	<div class="col-sm-3">
		<nav class="list-group nav">
			<%= link_to "By category", "#by-category", class: "list-group-item active", data: { toggle: "tab", target: "#by-category" } %>
			<%= link_to "By company", "#by-category", class: "list-group-item", data: { toggle: "tab", target: "#by-company" } %>
		</nav>
	</div>
	<div class="col-sm-9 tab-content">
		<div class="tab-pane active" id="by-category">
			<% @sorted_by_category.each do |category, softwares| %>
				<section class="mb-5">
					<h3 class="mb-5"><%= category %></h3>
					<div class="card-columns">
						<% softwares.each do |software| %>
							<% d = @hotelier_softwares.include?(software) ? true : false %>
							<%= link_to h_software_path(software), class: "card", disabled: d do %>
						    <%= image_tag software.logo_url, class: "card-img-top p-3" %>
						    <div class="card-body">
						      <h5 class="card-title"><%= software.name %></h5>
						      <p class="card-text"><%= Faker::Company.catch_phrase %></p>
						    </div>
						  <% end %>
						<% end %>
					</div>
				</section>
			<% end %>
		</div>
		<div class="tab-pane" id="by-company">
			<% @sorted_by_vendor.each do |company, softwares| %>
				<section class="mb-5">
					<h3 class="mb-5"><%= company.name %></h3>
					<div class="card-columns">
						<% softwares.each do |software| %>
							<% d = @hotelier_softwares.include?(software) ? true : false %>
							<%= link_to h_software_path(software), class: "card", disabled: d do %>
						    <%= image_tag software.logo_url, class: "card-img-top p-3" %>
						    <div class="card-body">
						      <h5 class="card-title"><%= software.name %></h5>
						      <p class="card-text"><%= Faker::Company.catch_phrase %></p>
						    </div>
						  <% end %>
						<% end %>
					</div>
				</section>
			<% end %>
		</div>
	</div>
</div>

