<div class="row my-5">
	<div class="col-sm-3">
		<nav class="list-group nav">
			<%= link_to "All", "#all", class: "list-group-item active", id: "show-all", data: { toggle: "tab", target: "#all" } %>
			<% @sorted.keys.sort.each do |category| %>
				<%= link_to category, "##{category.downcase.split(" ").join('-').split("&").join}", class: "list-group-item tab-item", data: { toggle: "tab", target: "##{category.downcase.split(" ").join('-').split("&").join}" } %>
		  <% end %>
		</nav>
	</div>
	<div class="col-sm-9 tab-content">
		<% @sorted.each do |category, suites| %>
			<section class="mb-5 tab-pane active" id=<%= category.downcase.split(" ").join('-').split("&").join %>>
				<h3 class="mb-5"><%= category %></h3>
				<% suites.each do |suite| %>
					<div class="card-columns">
						<% suite.softwares.each do |software| %>
							<%= link_to h_software_path(software), class: "card" do %>
						    <%= image_tag software.logo_url, class: "card-img-top p-3" %>
						    <div class="card-body">
						      <h5 class="card-title"><%= software.name %></h5>
						      <p class="card-text"><%= Faker::Company.catch_phrase %></p>
						    </div>
						  <% end %>
						<% end %>
					</div>
				<% end %>
				<hr>
			</section>
		<% end %>
		<section>
			<div class="card-columns">
				<%= link_to h_softwares_path, class: "card" do %>
			    <%= image_tag "https://place-hold.it/300x300?text=Add%20software&fontsize=25", class: "card-img-top" %>
			  <% end %>
			</div>
		</section>
	</div>
</div>

<% content_for :after_js do %>
	<script>
		manageTab();
	</script>
<% end %>
